<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h1 style="color: green; font-size: 30px;">Success!!</h1>
    <h2>Buy order for <span id="title"><%= bodyData.title %> </span></h2>
  </div>
  
  <div>
   <div><span style="margin: auto;">name : </span><span><%= bodyData.title %> </span></div>
    <div>Order for phone number <span><%= bodyData.phone %> created. </span></div>
     
  </div>
  
</body>
</html>